@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    --main-color: #c00779;
    --second-color: #cc449f;
  }

body, html {
  margin: 0;
  padding: 0; 
}

.main {
  height: 100vh;
  background-color: var(--main-color);
  background: linear-gradient(20deg, var(--main-color) 0%, var(--second-color) 500%);

 .myimg {
  background-image: url("../pictures/picture.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    align-items: center;
    background-size: 40%;
    width: 100%;
    height: 100%;
  }
}

.first-slide {
  padding: 0 120px;

  h1 {
    margin: 1px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  }

  p {
   margin: 1px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
   color: #d3c0d2;
  }
}

.buttons a {
  
  color: #70176d;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
  width: 50%;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 30px;
  line-height: 55px;
  display: flex;
  text-align: center;
}

.botton {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
}

.pick-color{
    background-color: white;
    border-radius: 20px;
    z-index: 1;
    margin: auto;
    top: 50px;
    left: 550px;
    padding: 10px;
    position: absolute;
    border : 3px solid gray
}